		({assign var=isHTML value=0})
		({if !isset($nonHeader)})
		({include file="admin/inc/detailsHeader.html"})
		({/if})

		({assign var=count value=0})
		({foreach from=$arrayColum[$modelName] key=key item=item})
		({if $item.type != 'hidden'})
			({if isset($item.frontSpace)})
			({$item.frontSpace})
			({/if})

		({if isset($item.html)})
		({assign var=count value=0})
		({$item.html})
		({assign var=isHTML value=1})
		({else})
		({if $item.type != 'password'})
		({if !isset($item.formHidden)})
		({if $item.type != 'button'})
		({if isset($item.name)})
		({if $isHTML})
		<tr>
		({else})
		</td>
		({/if})
		({if $arrayContentsSetting.base.col == $count})
		</tr><tr>
		({assign var=count value=0})
		({/if})
		({assign var=count value=$count+1})
		<th style="width:5%" nowrap="nowrap">
			({$item.name})
		</th>
		<td style="width:30%">
		({/if})
			({include file="template/editor/detailsControl.html"})
			({getVar($item, 'controlBack')})
			({assign var=isHTML value=0})
		({/if})
		({/if})
		({/if})
		({/if})
		({/if})
		({/foreach})
		</td>
		</tr>

