			<?php 
				if (isset($arrayColum[$key]['data'])){
					$arrayControlData = $this->$modelName->getFunctionData($arrayColum[$key]['data'], $arrayColum[$key]);

				if (isset($arrayControlData) ){
					foreach ($arrayControlData as $key2 => $item2){
			?>
			<?php if (strlen($key2)){ ?>
			<dl class="checkbox">
			<dt><input type="checkbox" id="id_<?php echo $key; ?>_<?php echo $key2; ?>" <?php echo getVar($arrayColum[$key], 'form'); ?> name="arrayInput[<?php echo $modelName; ?>][<?php echo $key; ?>][<?php echo $item2['id']; ?>]" class="class_<?php echo $key; ?>" value="<?php echo $item2['id']; ?>"<?php if ($item2['id'] == getVar($arrayColum[$key], 'default') ){ ?> checked<?php } ?><?php if (!empty($arrayInput[$key][$item2['id']])){ ?> checked<?php } ?>></dt>
			<dd><label for="id_<?php echo $key; ?>_<?php echo $key2; ?>"><?php echo $item2['value']; ?></label></dd>
			</dl>
			<?php } ?>
			
			<?php 
					echo getVar($arrayColum[$key], 'li');
					} 
				}
			}else{

			?>
			<dl class="checkbox">
			<dt><input type="checkbox" id="id_<?php echo $key; ?>" <?php getVar($arrayColum[$key], 'form'); ?> name="arrayInput[<?php echo $modelName; ?>][<?php echo $key; ?>]" value="1"<?php if (getVar($arrayInput, $key) == 1){?> checked<?php } ?>></dt><dd><label for="id_<?php echo $key; ?>"><?php echo $arrayColum[$key]['checkValue']; ?></label></dd>
			</dl>
			<?php } ?>

			<br class="fc" />